// Imports
@use "../components" as *;

// Navigation
nav {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;

	& > a {
		color: $gold-1;
		font-size: 1.4rem;
	}

	ul {
		display: flex;
		gap: 5px;
		a {
			width: 100px;
			padding: 15px 0;
			text-align: center;
			display: block;
			font-size: 1.1rem;
			position: relative;
			color: #ddd;
			cursor: pointer;
			&::after {
				content: "";
				width: 0;
				height: 1px;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				background-color: $gold-1;
				transition: 0.2s ease-out;
			}
			&:hover,
			&.active {
				color: $gold-1;
				&::after {
					width: 100px;
					height: 4px;
				}
			}
		}
	}

	.bars {
		display: none;
		cursor: pointer;
		padding: 0 10px;

		svg {
			width: 40px;
		}
		&:hover {
			color: $gold-1;
		}
	}
}

// Main Container
.container {
	max-width: 1000px;
	margin: 0 auto;
}

@include responsify(1040px) {
	nav {
		padding: 10px 20px;
	}
}

@include responsify(650px) {
	nav {
		.bars {
			display: block;
		}
		ul {
			width: 100%;
			display: block;
			overflow: hidden;
			max-height: 0;
			margin-top: 10px;
			transition: 0.3s ease;
			li {
				margin-bottom: 5px;
				border: $brd-w2;
				&:hover {
					border: $brd-w4;
				}
			}
			a {
				width: 100%;
				background-color: #222;
				&::after {
					display: none;
				}
			}
			&.active {
				max-height: 20rem;
			}
		}
	}
}
