// Imports
@use "../components" as *;

.champs-total {
	color: #bbb;
	margin-top: 20px;
}

.champ-list {
	margin: 20px 0 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
