// Imports
@use "../components" as *;

.search {
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;

	label {
		color: $gold-1;
		margin-right: 10px;
		font-size: 0.9rem;
	}

	select {
		width: max-content;
		padding: 5px;
		background-color: #222;
		color: #eee;
		outline: none;
		border: 1px solid rgba($gold-1, 0.6);
		border-radius: 6px;
		font-family: $font-1;
		font-size: 0.9rem;
		&:focus {
			border-color: $gold-1;
		}
	}

	button {
		border: 1px solid rgba($gold-1, 0.6);
		background-color: $gold-1;
		color: $dark-1;
		font-size: 0.9rem;
		border-radius: 6px;
		padding: 5px 10px;
		font-family: $font-1;
		margin-left: 20px;
		cursor: pointer;
		transition: 0.2s ease;
		&:hover {
			transform: scale(1.05);
		}
	}

	article:nth-child(1) {
		display: flex;

		.icon {
			display: flex;
			padding: 0 10px;
			background-color: $gold-1;
			border-radius: 6px 0 0 6px;
			svg {
				width: 25px;
				color: $dark-1;
			}
		}
		input {
			outline: none;
			background-color: $dark-1;
			border: 1px solid rgba($gold-1, 0.6);
			padding: 5px 10px;
			width: 200px;
			color: #eee;
			border-radius: 0 6px 6px 0;
			font-family: $font-1;
			font-size: 1rem;
			&:focus {
				border-color: $gold-1;
				color: $gold-1;
			}
		}
	}
}

@include responsify(900px) {
	.search {
		gap: 15px;
		article:nth-child(1) {
			input {
				width: 160px;
				font-size: 0.9rem;
			}
		}
	}
}

@include responsify(700px) {
	.search {
		gap: 10px;
	}
}
