// Imports
@use "./components/components" as *;

// Reset
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body {
	font-family: $font-1;
	background-color: $dark-1;
	color: #eee;
	overflow-x: hidden;
}
